@model IEnumerable<DAY1MVC.Models.Department>
@{
    ViewBag.Title = "ListDepartment";
}

<h2>List of Department</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Dept No.</th>
            <th>Department Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.DeptName</td>
            </tr>
        }
    </tbody>
</table>